button {
  cursor: pointer;
  background-color: $white;
  box-shadow: $shadow-box;
  padding: 0 2px;
  border: 0;
  outline: none;
  letter-spacing: 1.2px;
}

button:hover {
  box-shadow: $shadow-box-hover;
}
