$background-color: #f7f7f7;
$white: #fff;
$black: #000;
$font-family: 'Lato', sans-serif;
$shadow-box: 1px 1px 3px rgba(0, 0, 0, 0.15), -1px -1px 3px rgba(0, 0, 0, 0.15);
$shadow-box-hover: 0px 1px 3px rgba(248, 103, 103, 0.5),
  0px -1px 3px rgba(0, 0, 0, 0.5);
$font-stack: 'Lato', sans-serif;
$primary-color: #6c63ff;
$primary-light-color: #a491ff;
$primary-dark-color: #2838cb;
$secondary-color: #ff6584;
$secondary-light-color: #ff98b3;
$secondary-dark-color: #c72f58;
