input[type='text'],
input[type='email'],
input[type='password'],
input[type='submit'],
input[type='button'],
input[type='number'],
textarea {
  border: 1px solid #dedede;
  font-size: 15px;
  padding: 10px;
  width: 100%;
  outline: none;
  letter-spacing: 2px;
}

input[type='submit']:hover {
  cursor: pointer;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus {
  border: 2.5px solid lightgray;
}
