.hiddenDiv {
    display: none;
}

.visibleDiv {
    display: block;
}

.spanCenter {
    text-align: center;
    padding-top: 20px;
}

.onClickSwitch:hover {
    cursor: pointer;
}

.modal-container-auth {
    position: fixed;
    width: 100%;
    //height: calc(100vh - 80px)!important;
    //overflow-y: scroll;
  }