@import './config';

.class-board {
  margin: 25px 20px;
  box-shadow: $shadow-box;
  height: calc(100vh - 130px);
}

.class-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 210px);
}

.class {
  padding: 5px;
  width: 340px;
  height: 225px;
  margin: 20px;
  box-shadow: $shadow-box;
}

.class-body,
.class-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.class-header {
  display: flex;
  justify-content: space-between;
  &-title {
    font-family: $font-family;
    margin: 15px;
    color: blue;
  }
}

.class-body {
  margin-left: 5px;
}

.add-btn {
  margin: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.remove-btn,
.share-btn {
  float: right;
  margin-right: 2px;
  box-shadow: 0 0 0 0;
}

.drive-btn,
.forum-btn {
  padding: 5px;
  margin: 5px;
}

.form-class {
  margin: 20px 20%;
  padding: 20px;
  box-shadow: $shadow-box;
  display: flex;
  justify-content: center;
}

.form-btn {
  display: flex;

  button {
    width: 100%;
    margin: 0 3px;
    height: 40px;
  }
}
