@import './config';

.board {
  width: 95%;
  box-shadow: $shadow-box;
  padding: 10px;
  height: calc(100vh - 150px);
  max-height: calc(100vh - 150px);
  margin: auto;
  margin-top: 30px;
}

.table {
  height: calc(100vh - 265px);
  overflow: auto;
}
