@import './config';

.modal-container-eval {
  margin: 25px 20px;
  box-shadow: $shadow-box;
  height: calc(100vh - 130px);
  max-height: calc(100vh - 130px);
}

.modal-header-eval {
  display: flex;
  justify-content: space-between;
  &-title {
    font-family: $font-family;
    margin: 15px;
    color: blue;
  }
}

.del-btn {
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: none;
  background-color: #FAFAFA;
}

.eval-list {
  height: calc(100vh - 215px);
  overflow: auto;
  padding-top: 1px;
  &-board {
    padding: 0 10px;
  }
}

.add-btn {
  margin: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.eval-add {
  width: 20%;
  margin: 15px;
  .form-add {
    display: flex;
    justify-content: center;
    .btn-submit-stud {
      border-radius: 10%;
      width: 45px;
      height: 40px;
      margin: 6px;
      border-radius: 50%;
      border: 1px solid $primary-color;
    }
    .input {
      border: 0.2px dashed $primary-color;
      color: $primary-color;
    }
    ::placeholder {
      color: $primary-color;
    }
  }
}
