@import './config';

.modal-container-forum {
  margin: 25px 20px;
  box-shadow: $shadow-box;
  height: calc(100vh - 130px);
  max-height: calc(100vh - 130px);
}

.modal-header-forum {
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  &-title {
    font-family: $font-family;
    margin: 15px;
    color: blue;
  }
}

.list-item {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.message-reader {
  min-height: calc(100vh - 325px);
  max-height: calc(100vh - 325px);
  overflow-y: scroll;
}

.form-add-comment {
  display: flex;
  margin: 15px 20px;
  .textarea-comment {
    border-radius: 20px;
    resize: none;
    border: 1px dashed $secondary-color;
    margin: 0 20px;
  }
  .textarea-comment:focus {
    border: 1.5px solid $secondary-color;
  }

  .btn-submit-comment {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    top: 20px;
    border: 1px dashed $secondary-color;
  }

  .btn-submit-comment:hover {
    border: 2px solid $secondary-color;
    .send {
      transition: 0.5s;
      transform: rotate(-60deg);
    }
  }
}
