@import './config';

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;

  &-left {
    margin: 50px 0;
  }

  &-btn {
    cursor: pointer;
    margin: 10px 10px;
    width: 150px;
    border: 0;
    border-radius: 5px;
    height: 40px;
    color: #fff;
    background-color: $primary-color;
  }

  &-btn:hover {
    background-color: darken($primary-color, 5%);
  }

  .primary {
    background-color: $secondary-color;
  }
  .primary:hover {
    background-color: darken($secondary-color, 5%);
  }

  .slogan {
    font-size: 50px;
  }

  p {
    padding: 10px;
    max-width: 400px;
  }

  img {
    width: 45%;
  }
}

@media (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .kanban {
    display: none;
  }
}
