@import './config';

.navbar {
  display: flex;
  justify-content: space-between;
  box-shadow: $shadow-box;
  padding: 8px;

  img {
    width: 20px;
    margin: 0 5px;
  }

  ul {
    display: flex;
    list-style-type: none;
  }

  li {
    font-size: 20px;
    padding: 5px 10px;
    text-decoration: none;
  }

  h1 {
    color: $primary-color;
    letter-spacing: 2px;
  }

  h1:hover {
    cursor: default;
  }

  .flower {
    position: relative;
    animation: change 3s infinite;
  }

  .link {
    color: $primary-color;
    text-decoration: none;
  }
  .link-active {
    color: $secondary-color;
  }

  .link:hover {
    color: $secondary-color;
    cursor: pointer;
  }

  @keyframes change {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
