.error {
    color:#db2269;
    display: relative;
  }

.Profile {
  padding: 15px;
  width: 50%;
  height: 470px;
  }
.profile-detail{
  height: calc(100vh - 195px);
  overflow: auto;
  padding-top: 1px;
  &-board {
    padding: 0 10px;
  }
}
 
.formHeader {
  text-align: center;
  background-color: rgb(0, 153, 255);
  color: white;
  padding-bottom: 8px;
}

  label {
    display: block;
}

input,
label {
    margin: .4rem 0;
}