.error {
    color:#db2269;
    display: relative;
  }

.Signup {
  padding: 15px;
  margin: auto;
  width: 50%;
  height: 670px;
  
  }

 
.formHeader {
  text-align: center;
  background-color: rgb(0, 153, 255);
  color: white;
  padding-bottom: 8px;
}