@import './config';

.modal-container-stud {
  margin: 25px 20px;
  box-shadow: $shadow-box;
  height: calc(100vh - 130px);
  max-height: calc(100vh - 130px);
}

.modal-header-stud {
  display: flex;
  justify-content: space-between;
  &-title {
    font-family: $font-family;
    margin: 15px;
    color: blue;
  }
}

.student-list {
  height: calc(100vh - 195px);
  overflow: auto;

  &-board {
    padding: 0 10px;
  }
}

.student-add {
  width: 20%;
  margin: 15px;
  .form-add {
    display: flex;
    justify-content: center;
    .btn-submit-stud {
      border-radius: 10%;
      width: 45px;
      height: 40px;
      margin: 6px;
      border-radius: 50%;
      border: 1px solid $primary-color;
    }
    .input {
      border: 0.2px dashed $primary-color;
      color: $primary-color;
    }
    ::placeholder {
      color: $primary-color;
    }
  }
}
