@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import './styles/_config.scss';
@import './styles/buttons.scss';
@import './styles/inputs.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

html {
  height: 100%;
}

body {
  background-color: $background-color;
  font-family: 'Lato', sans-serif;
  height: 100%;
  overflow-y: hidden;
}

